* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: white;
    flex-direction: row;
}

.container {
    display: flex;
    width: 100%;
}

/* Page LogIn */
.container_login {
    display: flex;
    width: 100%;
    overflow-y: hidden;
}

.auth-left {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd91ff;
}

.background-image {
    width: 809px;
    height: auto;
}

.auth-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.auth-header h2 {
    color: #4C2670;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.auth-header p {
    color: #6B4A8B;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-group {
    width: 350px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.form-group label {
    font-size: 15px;
    font-weight: 500;
    color: #4C2670;
}

.form-group input {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
}

.show-password {
    position: absolute;
    right: 12px;
    transform: translateY(50%);
    cursor: pointer;
    font-size: 16px;
    color: #dac6ec;
}
.show-password:hover {
    color: #4C2670;
}

.auth-button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    background-color: #4C2670;
    color: #fff;
}

.auth-button:hover {
    background-color: #633291;
}

.auth-footer {
    font-size: 12px;
    margin-top: 20px;
    color: #6B4A8B;
}

.auth-footer a {
    color: #4C2670;
    text-decoration: none;
    font-weight: 500;
}

.auth-footer a:hover {
    text-decoration: underline;
}

.sign-button {
    background-color: #4C2670;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container_login {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
        height: 100%;
        overflow-y: auto;
    }

    .auth-left {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fd91ff;
        overflow: hidden;
        padding: 0;
        margin: 0;
        height: 10%;
    }

    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }

    .auth-right {
        padding: 40px 20px;
        border-radius: 20px;
        text-align: center;
        background-color: white;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        margin-top: -20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        flex-grow: 1;
    }

    .auth-header {
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
        width: 100%;
    }

    .form-group input {
        width: 100%;
        padding: 9px;
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .sign-button {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
    }

    .auth-footer {
        margin-top: 20px;
    }

    .show-password {
        position: absolute;
        top: 40%;
        right: 10px;
        cursor: pointer;
    }
}

/* Styling Sidebar */
.sidebar {
    background-color: #4C2670;
    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.content {
    margin-left: 250px;
    padding: 60px;
    flex: 1;
    background-color: #FFFFFF;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.menu-toggle {
    display: none;
    background-color: #4C2670;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 1px solid #dac6ec;
}

.profile-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-user {
    font-size: 12px;
    color: #dac6ec;
    font-weight: normal;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.logout {
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.logout-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.logout-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.logout-link span {
    font-size: 16px;
    color: #dac6ec;
    
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    margin: 20px 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 18px;
    display: block;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.nav-menu ul li a:hover {
    background-color: #633291;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.nav-menu ul li.active a {
    background-color: #b68ddb;
    padding: 8px 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/* Responsive Sidebar */
@media (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #4C2670;
        z-index: 100;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
        display: block;
    }

    .profile {
        display: flex;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #fff;
        margin-top: 30px;
    }

    .profile-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-info {
        color: #fff;
    }

    .profile-name,
    .profile-user {
        font-size: 14px;
    }

    .nav-menu ul {
        list-style: none;
        padding: 0;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }

    .nav-menu ul li a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        display: block;
        padding: 8px 10px;
        width: 90%;
        border-radius: 8px;
        transition: background-color 0.3s ease, border-radius 0.3s ease;
    }

    .nav-menu ul li a:hover {
        background-color: #633291;
    }

    .logout {
        position: absolute;
        bottom: 20px;
        width: 85%;
        padding: 15px;
        text-align: center;
    }

    .logout-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        text-decoration: none;
    }

    .logout-link:hover {
        background-color: #633291;
        border-radius: 8px;
        padding: 8px 18px;
    }

    .logout-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    /* Menu Toggle Button */
    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 24px;
        background-color: #4C2670;
        color: white;
        border: none;
        padding: 10px;
        z-index: 101;
    }
}

/* Page Dashboard */
.welcome-section h1 {
    color: #4C2670;
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: 600;
}

.welcome-section p {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 400;
}

.welcome-section ul {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 40px;
    font-size: 14px;
}

.welcome-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.welcome-section .text-content {
    flex: 1;
}

.welcome-section img {
    max-width: 300px;
    display: block;
    margin-top: 0;
}

.features-section h2 {
    text-align: center;
    color: #4C2670;
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 900;
}

.features {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}

.features a {
    text-decoration: none;
    color: inherit;
}

.features a:hover {
    text-decoration: none;
}

.feature-item {
    display: flex;
    align-items: center;
    border: 2px solid #4C2670;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    width: 300px;
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-icon {
    margin-right: 16px;
}

.feature-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.feature-text {
    text-align: left;
}

.feature-item h3 {
    color: #4C2670;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
}

.feature-item p {
    font-size: 14px;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 80px 20px 20px;
    }

    .features {
        flex-direction: column;
        gap: 20px;
    }

    .feature-item {
        width: 100%;
    }

    .welcome-section {
        flex-direction: column;
    }

    .welcome-section img {
        margin: -50px auto 30px;
        width: 100%;
        max-width: 300px;
    }
}


/* Page Simulation */
.simulation-section h1 {
    color: #4C2670;
    font-size: 28px;
    font-weight: 600;
}

.simulation-section p {
    font-size: 14px;
    margin-bottom: 40px;
    font-weight: 400;
}

.formula-slider-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.formula {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.variable {
    color: #4C2670;
}

.sliders {
    display: flex;
    flex-direction: column;
}

.voltage-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.voltage-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    width: 90px;
}

.resistance-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resistance-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    width: 110px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 180px;
    height: 8px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4C2670;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4C2670;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#voltage-value, #resistance-value {
    font-size: 18px;
    font-weight: bold;
    color: #FF6F00;
    margin-left: 0;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.circuit-box {
    border: 5px solid black;
    padding: 10px;
    position: relative;
    width: 600px;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.batteries {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: -15px; 
    left: 50%;
    transform: translateX(-50%);
}

.battery {
    background-color: #FFA500;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.resistor {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.resistor-box {
    background-color: #FFA500;
    color: white;
    width: 250px;
    height: 45px;
    border-radius: 22.5px;
    position: relative;
    overflow: hidden;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: #4C2670;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.arrow {
    position: absolute;
    bottom: -30px;
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -30px;
    bottom: -45px;
}

.current {
    font-size: 18px;
    color: #6B4CA4;
    border: 2px solid #6B4CA4;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.simulation-actions {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.action-container {
    position: relative;
}

.action-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.action-icon:hover {
    transform: scale(1.1);
}

.tooltip {
    position: absolute;
    top: 10%;
    right: 70px;
    transform: translateY(-50%);
    background-color: #c2b0e4;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

.action-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#history-button:hover {
    transform: scale(1.1);
}

/* Pop Up History */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #f3ecfa;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    padding: 20px 20px 30px 30px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #4C2670;
    position: relative;
    text-align: center;
    scrollbar-width: thin;
    scrollbar-color: #ae9ab3 #f3ecfa;
}

.modal-content::-webkit-scrollbar {
    width: 20px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f3ecfa;
    border-radius: 20px; 
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #b67db3;
    border-radius: 20px;
    border: 2px solid #f3ecfa;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #9b57a1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-history-message {
    text-align: center;
    font-size: 13px;
    color: #706e72;
    padding: 5px;
    margin-top: 15px;
    font-style: italic;
}

.close-button {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #4C2670;
    padding: 5px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.close-button:hover {
    color: #9772b9;
    transform: scale(1.2);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.history-header, .history-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #c7aedf;
}

.history-header {
    font-weight: bold;
    background-color: #d5c9e0;
}

.history-item {
    font-size: 13px;
    color: #4C2670;
    text-align: center;
}

.history-list {
    padding: 0;
    margin: 0;
}

.delete-button {
    background-color: #d63434 !important;
    color: white !important;
    padding: 2px 7px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 13px !important;
    border-radius: 4px !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.delete-button:hover {
    background-color: #ff0000!important;
}

/* Responsive Design */
@media (max-width: 768px) {
    .formula-slider-container {
        flex-direction: column;
        gap: 10px;
    }

    .formula {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .voltage-slider-container,
    .resistance-slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        margin: 0 auto 30px;
    }

    .circuit-box {
        width: 80%;
        aspect-ratio: 4/2;
        padding: 15px;
        margin: 20px auto;
    }

    .arrow {
        width: 25px;
        height: auto;
    }

    .left-arrow {
        left: -20px;
        bottom: -15px;
    }

    .right-arrow {
        right: 15px;
    }

    .circuit-box .wire {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .formula-slider-container {
        gap: 20px;
    }

    .formula {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }

    .voltage-slider-container,
    .resistance-slider-container {
        width: 320px;
        margin: 0 auto 20px;
    }

    .circuit-box {
        width: 90%;
        aspect-ratio: 2.5/1;
        margin: 10px auto;
    }

    .arrow {
        width: 25px;
    }

    .left-arrow {
        left: -15px;
        bottom: -15px;
    }

    .right-arrow {
        right: 15px;
    }

    .current {
        width: 70%;
    }

    label {
        font-size: 14px;
    }

    #voltage-value, #resistance-value {
        font-size: 14px;
    }

    .resistor-box {
        padding: 5px;
        width: 200px;
    }
}

/* Page Videos */
.videos-section h1 {
    font-size: 28px;
    color: #4C2670;
}

.videos-section p {
    font-size: 14px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 19px;
    padding-bottom: 40px;
}

.video-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.video-card iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.video-description {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.video-description h3 {
    font-size: 16px;
    color: #4C2670;
}

.video-duration {
    font-size: 14px;
    color: orange;
    margin-top: 2px;
}

.mark-watched-btn {
    align-self: flex-end;
    background-color: #4C2670;
    color: #fff;
    font-size: 13px;
    padding: 3px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mark-watched-btn:hover {
    background-color: #3a1e58;
}

.watched-status {
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.watched-status .checklist-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .video-card iframe {
        height: 180px;
    }
}

/* Page Practice Question */
.question-container h1 {
    color: #4C2670;
    font-size: 28px;
    font-weight: 600;
}

.question-container p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

.question-progress {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.question-progress span {
    font-weight: bold;
    margin-right: 10px;
}

.progress-bar-question {
    flex: 1;
    height: 10px;
    background-color: #EAEAEA;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.progress {
    width: 20%;
    height: 100%;
    background-color: #4C2670;
    transition: width 0.4s ease;
}

.question {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.answers label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.answers input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #4C2670;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.answers input[type="radio"]::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s;
    box-sizing: border-box;
}

.answers input[type="radio"]:checked::before {
    background-color: #4C2670;
}

.answers label:hover {
    background-color: #f5f5f5;
    border-color: #4C2670;
}

.answers input[type="radio"]:checked + label {
    background-color: #f5f5f5;
    border-color: #4C2670;
}

.button-container {
    position: relative;
    height: 50px;
    margin-top: 30px;
}

.next-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #4C2670;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 25px;
}

.next-button:hover {
    background-color: #b68ddb;
}

.finish-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
}

.finish-page img {
    max-width: 150px;
    margin-bottom: 20px;
}

.finish-page h1 {
    font-size: 32px;
    color: #4C2670;
    margin-bottom: 3px;
}

.finish-page p {
    font-size: 18px;
    color: #4C2670;
}

.button-container2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 25px;
}
.button-container2 button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
}

#retake-button {
    background-color: #601f9e;
    box-shadow: 0px 4px 10px rgba(138, 43, 226, 0.4);
}

#retake-button:hover {
    background-color: #7829c2;
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgba(123, 31, 162, 0.5);
}

#retake-button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 5px rgba(123, 31, 162, 0.3);
}

#score-button {
    background-color: #8934c7;
    box-shadow: 0px 4px 10px rgba(106, 13, 173, 0.4);
}

#score-button:hover {
    background-color: #9c56ca;
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgba(92, 13, 145, 0.5);
}

#score-button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 5px rgba(92, 13, 145, 0.3);
}

.score-display {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #4C2670;
    background-color: #E6E0F8;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

.score-display:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Page Profile */
.profile-title {
    text-align: center;
    color: #4C2670;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.profile-picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-label {
    color: #4C2670;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-image-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #4C2670;
    margin-bottom: 10px;
}

.profile-buttons {
    display: flex;
    gap: 10px;
}

.change-btn,
.delete-btn {
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.change-btn {
    background-color: #4C2670;
    color: #fff;
    border: none;
}

.change-btn:hover {
    background-color: #c593f3;
}

.delete-btn {
    background-color: #FF4C4C;
    color: #fff;
    border: none;
}

.delete-btn:hover {
    background-color: #ff0000;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 100px;
}

.form-row > div {
    flex: 1;
}

.profile-form label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #4C2670;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
    width: 100%;
    padding: 7px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.profile-form input:focus {
    border-color: #4C2670;
}

.progress-bar-container {
    background-color: #e9ecef;
    border-radius: 8px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.progress-bar {
    background-color: #4C2670;
    height: 100%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.save-button {
    padding: 8px 14px;
    background-color: #4C2670;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #c593f3;
}

@media (max-width: 768px) {
    .profile-container {
        gap: 20px;
        padding: 10px;
        width: 100%;
    }

    .form-row {
        flex-direction: column;
        gap: 20px;
    }

    .profile-form input[type="text"],
    .profile-form input[type="email"],
    .profile-form input[type="password"] {
        width: 100%;
        padding: 10px;
    }

    .profile-buttons {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .save-button {
        padding: 8px 14px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .progress-bar-container {
        width: 100%;
    }
}